#sidebar-header {
  background: #34495e;
  height: 80px;

  color: aliceblue;
  font-size: 27px !important;
}

#menu-switch {
    background-color: #34495e !important;
    position: fixed;

    margin-top: 50px;
}

.header {
  background: url(assets/background_2-scaled.jpg) !important;
  height: 1024px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin: auto;
}


.section-heading {
    background: #FFF;
    box-shadow: 0 3px 3px 0 rgb(1 2 2 / 5%);
    padding: 30px 0;
    margin-bottom: 40px;
}

.section-heading .section-title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #a8aab3;
    font-size: 33px;
    font-weight: 300;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 3px;
}


.about-container {
    background: red;
    width: 50%;
    min-height: 500px;
    margin: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}